# Database Configuration
# Copy this file to .env and fill in your Aiven database credentials

DB_HOST=your-aiven-host
DB_PORT=db-port-number
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_NAME=db-name

#oauth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback
